[*.{cs,vb}]

# IDE0032: Use auto property
dotnet_style_prefer_auto_properties = false:silent

# IDE0044: Add readonly modifier
dotnet_style_readonly_field = false:none

# CS0649: Field 'Customer._customerId' is never assigned to, and will always have its default value 0
dotnet_diagnostic.CS0649.severity = none
